/* =================================
 * TELECALL WEBSITE - MAIN STYLESHEET
 * =================================
 */

@import url('./variables.css');
@import url('./reset.css');
@import url('./components.css');
@import url('./sections.css');
@import url('./services.css');
@import url('./examples.css');
@import url('./advantages.css');
@import url('./forms.css');
@import url('./footer.css');
@import url('./responsive.css');
